streamlit
pandas
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
streamlit-option-menu
pdfplumber
pydantic
typing
reportlab
PyPDF2
streamlit-aggrid
xlsxwriter
openpyxl
dropbox
plotly==5.22.0
kaleido==0.2.1
svglib==1.5.1
